body{
background: linear-gradient(rgb(255, 205, 41), rgb(255, 123, 0));
  

}
.main{
text-align: center;
color: blanchedalmond;
height: 900px;
  font-family: 'Sigmar One', cursive;

}
.avatar{
border: 6px solid rgba(245, 245, 245, 0.648);
border-radius: 50%;
}


h1{

  text-shadow: 0px 5px 10px black;
}

p{
  font-family: 'Sigmar One', cursive;
}


.giftbox{
  background-image: url('giftbox.png');
  width: 100px;
}




/* @font-face {
  src: url("olga.ttf");
  font-family: Olga;
}



body{
  background-color: rgba(0, 0, 0, 0.436);
  background-image: url("imageone.jpg");
  background-size: cover;
  font-family: 'Space Grotesk', sans-serif;
}



.header{
font-size: 50px;
  color: rgba(255, 255, 255, 0.733);
  display: block;
text-align: center;
font-family: 'Space Grotesk';
text-decoration: underline;
text-shadow: -10px 5px 25px rgb(32, 25, 91);
} */


button{

  background: none;
  border: 1px solid white;
  color: azure;
  font-size: 18px;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
}