.card{
background-color: rgb(31, 33, 33);
  width: 600px;
  height: 500px;
  color: white;
  border-radius: 30px;
  padding: 20px;
  margin-left: 20px;

}

button{

  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  border: 15px;
}


